<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjpak.example.boardMapper">
	<select id="list" resultType="boardVo">
SELECT id
	  , title
	  , content
	  , hit
	  , DATE_FORMAT(reg_dtm, '%Y%m%d%H%i%s') AS regDtm
	  , DATE_FORMAT(mod_dtm, '%Y%m%d%H%i%s') AS modDtm
  FROM board
	</select>
	
	<insert id="save" parameterType="boardVo">
INSERT INTO BOARD (TITLE, CONTENT, HIT)
VALUES(#{title}, #{content}, 0)
	</insert>
</mapper>
